.carril-impar{
    background-color:darkblue;
    height: 80px;
}
.carril-par{
    background-color: blue;
    height: 90px;
}

#rio{
    width: 98%;
    height: 226px;
    position:absolute;
    bottom:195px;
}

.casa{
    width:150px;
    height:100px;
}
#ciudad #casa-1{
    background-color:SandyBrown ;
    position:absolute;
    bottom:460px;
    left:10%;
}
#ciudad #casa-2{
    background-color:SandyBrown ;
    position:absolute;
    bottom:460px;
    left:40%;
}
#ciudad #casa-3{
    background-color:SandyBrown ;
    position:absolute;
    bottom:460px;
    left:70%;
}
.tejado{
   width:95px;
   height:20px;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
   border-bottom: 65px solid green;

 }
 #ciudad #tejado-1{
    position:absolute;
    bottom:560px;
    left:9%;
 }

 #ciudad #tejado-2{
    position:absolute;
    bottom:560px;
    left:39%;
 }
 #ciudad #tejado-3{
    position:absolute;
    bottom:560px;
    left:69%;
 }
 .ventana-1{
    width:40px;
    height:30px;
    background-color:whitesmoke;
    position:absolute;
    bottom:60px;
    left:10%;
  }
.ventana-2{
    width:40px;
    height:30px;
    background-color:whitesmoke;
    position:absolute;
    bottom:60px;
    left:67%;
  }
  .puerta{
    width:30px;
    height:40px;
    background-color:IndianRed ;
    position:absolute;
    bottom:0;
    left:38%;
  }
  #acera{
    background-color: grey;
    position:absolute;
    bottom:425px;
    height: 30px;
    width:98%;
    border-bottom: 5px solid black; 
  }
  #bordillo{
    background-color: B2503A;
    position:absolute;
    bottom:405px;
    height: 20px;
    width:98%;
 
  }
  #img-gondola{
    width:80px;
    height:80px;
    position: relative;
    bottom: 0px;
  }
  .img-jeringa{
    width:70px;
    height:70px;
    position:absolute;
  }
  #cont{
    position:absolute;
    left:85%;
    top: 80px;
    font-family: 
    'Quicksand', sans-serif;
    font-size: 1em;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 7px 10px;
    background: rgb(37, 179, 37);
    color: black;
  }
  #modo{
    position:absolute;
    left:85%;
    top: 20px;
    font-family: 
    'Quicksand', sans-serif;
    font-size: 1em;
  }
  #modo select{
    width: 100px;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    background: #f0f0f0;
    color: #7b7b7b;
    font-family: 
    'Quicksand', sans-serif;
    font-size: 1em;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
  }